/* html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} */

/* *{
    outline: 1px solid red;
   } */

/* Navigation */
#navbar{
    flex-direction: column;
    height: 168px;
}
#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 7px;
}

#logo{
    margin:0px 45px;
}

#logo img {
    height: 65px;
    margin: 21px 45px
}
/* home section */
#home{
    height:280px;
    padding: 3px 60px;
}
#home::before{
    height:480px;
}

#home p{
    font-size: 16px;
}

/* Services section */
/* .services-container{
    flex-direction: column;
} */
#services{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .box{
    width:80%;
    margin: 3px 15px;
    padding: 8px 14px;
    /* outline: 1px solid red; */
}

#services p{
    font-size: 14px;
}
/* Clients-section */
#clients{
    flex-wrap:wrap ;
}
#clients img{
    width:66px;
    padding:4px;
}

#contact-box input{
    font-size: 14px;
}
#contact-box label{
    font-size: 16px;
}
/* utility functions */
.h-primary{
    font-size:35px;
}
.h-secondary{
    font-size:30px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}